<div class="container" fxLayout="column">
  <article fxFlex="90" *ngIf="article">
    <h3>{{article.title}}</h3>
    <img src="{{article.image}}">
    <p *ngFor="let paragraph of article.text">{{paragraph}}</p>
    <p>{{article.source}}</p>
    <p>{{article.date | date}}</p>
  </article>
  <div fxFlex fxFlexAlign="center" [hidden]="article || errMess">
    <md-spinner></md-spinner>
    <h4>Идет загрузка . . .</h4>
  </div>
  <div fxFlex *ngIf="errMess" fxFlexAlign="center">
    <h3>{{errMess}}</h3>
  </div>
</div>
