$secondary-text-color: #757575;

.full-width {
    width: 95%;
}

.half-width {
    width: 51%;
}

.one-fourth-width {
    width: 24%;
}

.form-size {
    width: 75%;
}

.radio-button {
    margin: 5px;
}

.radio-with-image {
    border: 1px solid;
    margin: 0 5px 15px 0;
    padding: 5px 3px 5px 7px;
}

p {
    color: rgba(0,0,0,.38);
    font-size: 16px;
    font-weight: normal;
}