<div class="container" fxLayout="row">

  <form novalidate (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" *ngIf="!user">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="login.email" name="email" email #email="ngModel" class="form-control email" required>
      <label for="password">Пароль</label>
      <input type="password" [(ngModel)]="login.password" name="password" #password="ngModel" class="form-control password" required>
      <button type="submit" md-icon-button [disabled]="loginForm.form.invalid">
      <md-icon class="md-24">exit_to_app</md-icon>
    </button>
    </div>
  </form>
  
  <span *ngIf="user">{{user.name}}</span>
  <i *ngIf="user" class="material-icons">account_circle</i>

  
  <a md-button *ngIf="!user" (click)="openSignupForm()">Регистрация</a>
  <a md-button *ngIf="user" (click)="exit()">Выйти</a>

</div>