<div class="container"
     fxLayout="column"
     fxLayoutGap="20px">

  <div fxFlex>
    <div>
      <h3>Secrets of care</h3>
      <hr>
    </div>
  </div>
  <div fxFlex>
    <md-grid-list cols="2" rowHeight="200px">
      <md-grid-tile *ngFor="let flower of flowers" (click)="onSelect(flower)">
        <img height="200px" src="{{flower.image}}" alt="{{flower.name}}">
        <md-grid-tile-footer>
          <h1> {{flower.name | uppercase}} </h1>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <app-flowerdetail [flower]="selectedFlower"></app-flowerdetail>
</div>