<div class="container"
     fxLayout="column"
     fxLayoutGap="20px">

  <div fxFlex>
    <div>
      <h3>Секреты ухода</h3>
      <hr>
    </div>
  </div>
  <div fxFlex *ngIf="flowers">
    <md-grid-list cols="5" rowHeight="200px" gutterSize="5px">
      <md-grid-tile *ngFor="let flower of flowers" [routerLink]="['/flowerdetail', flower.id]">
        <img height="200px" src="{{flower.image}}" alt="{{flower.name}}">
        <md-grid-tile-footer>
          <h3>{{flower.name | uppercase}}</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div fxFlex fxFlexAlign="center" [hidden]="flowers">
    <md-spinner></md-spinner>
    <h4>Идет загрузка . . .</h4>
  </div>
</div>