<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>Товары</h3>
      <a md-button class="background-primary text-floral-white" routerLink="/ad">Подать объявление</a>
    </div>
    <hr>
  </div>

  <div fxFlex>
    <md-grid-list cols="6" rowHeight="300px" gutterSize="10px">
      <md-grid-tile *ngFor="let product of products" [routerLink]="['/productdetail', product.id]">
        <md-card class="product">
          <md-card-header>
            <md-card-title>{{product.name}}</md-card-title>
            <md-card-subtitle class="badge" [ngClass]="{'Продажа':'sale','Обмен':'exchange','Продажа / Обмен':'sale-exchange'}[product.dealtype]">{{product.dealtype}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image height="100px" src="{{product.image}}" alt="{{product.name}}">
          <md-card-content>
            <p>{{product.description}}</p>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>

</div>