<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex *ngIf="articles">
    <md-list>
      <md-list-item *ngFor="let article of articles">
        <img md-list-avatar src={{article.image}} alt={{article.title}}>
        <a md-line [routerLink]="['/articledetail', article.id]">{{article.title}}</a>
        <p md-line>{{article.review}}</p>
      </md-list-item>
    </md-list>
  </div>
  <div fxFlex fxFlexAlign="center" [hidden]="articles">
    <md-spinner></md-spinner>
    <h4>Идет загрузка . . .</h4>
  </div>
</div>