<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex *ngIf="articles">
    <md-list>
      <md-list-item *ngFor="let article of articles">
        <img md-list-avatar src={{article.image}} alt={{article.name}}>
        <a md-line [routerLink]="['/articledetail', article.id]">
          <span> {{article.name}} </span>
        </a>
        <p md-line>
          <span> {{article.review}} </span>
        </p>
      </md-list-item>
    </md-list>
  </div>
  <div [hidden]="articles">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
</div>