<md-toolbar md-dialog-title color="primary">
    Регистрация
    <span class="flex-spacer"></span>
    <button md-button md-dialog-close>&times;</button>
  </md-toolbar>
  
  <form novalidate (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <md-dialog-content>
      <p>
  
        <md-input-container class="half-width" dividerColor="{{email.invalid && email.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Email" type="email" [(ngModel)]="user.email" name="email" email #email="ngModel" required>
          <md-hint>
            <span [hidden]="email.untouched">
              <span [hidden]="!email.errors?.required">Обязательно для заполнения</span>
            </span>
          </md-hint>
        </md-input-container>
  
        <md-input-container class="half-width" dividerColor="{{password.invalid && password.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Пароль" type="password" [(ngModel)]="user.password" name="pasword" #password="ngModel" required>
          <md-hint>
            <span [hidden]="password.untouched">
              <span [hidden]="!password.errors?.required">Обязательно для заполнения</span>
            </span>
          </md-hint>
        </md-input-container>
        
        <md-input-container class="half-width" dividerColor="{{name.invalid && name.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Ваше имя" type="text" [(ngModel)]="user.name" name="name" #name="ngModel" minlength="2" maxlength="15"
            required>
          <md-hint>
            <span [hidden]="name.untouched">
              <span [hidden]="!name.errors?.required">Обязательно для заполнения</span>
              <span [hidden]="!name.errors?.minlength">Минимум 2 символа</span>
            </span>
          </md-hint>
        </md-input-container>
  
        <md-input-container class="half-width" dividerColor="{{surname.invalid && surname.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Ваша фамилия" type="text" [(ngModel)]="user.surname" name="surname" #surname="ngModel" minlength="2"
            maxlength="15">
          <md-hint>
            <span [hidden]="surname.untouched">
              <span [hidden]="!surname.errors?.minlength">Минимум 2 символа</span>
            </span>
          </md-hint>
        </md-input-container>
  
        <md-input-container class="full-width" dividerColor="{{address.invalid && address.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Адрес" type="text" [(ngModel)]="user.address" name="address" #address="ngModel">
        </md-input-container>
  
        <md-input-container class="full-width" dividerColor="{{telnum.invalid && telnum.dirty ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Телефон" type="tel" [(ngModel)]="user.telnum" name="telnum" #telnum="ngModel" pattern="[0-9]*">
          <md-hint>
            <span [hidden]="telnum.untouched">
              <span [hidden]="!telnum.errors?.pattern">Телефон должен содержать только цифры</span>
            </span>
          </md-hint>
        </md-input-container>
  
      </p>
    </md-dialog-content>
    <md-dialog-actions>
      <span class="flex-spacer"></span>
      <button md-button md-dialog-close>Отмена</button>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="signupForm.form.invalid">Зарегистрироваться</button>
    </md-dialog-actions>
  </form>
