@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
}

.container {
    margin: 20px;
    display: flex;
}

.badge {
  color: white;
  border-radius: 8px;
  text-align: center;
  width: 150px;
}

.sale {
  background-color: #F44336;
}

.exchange {
  background-color: #FFEB3B;
}

.sale-exchange {
  background-color: #FF9800;
}
